* {
	border: none;
	font-family: "0xProto Nerd Font";
}

window#waybar {
	background-color: transparent;
}

.modules-left,
.modules-center,
.modules-right {
	padding-top: 10px;
	padding-bottom: 6px;
}

tooltip {
	background-color: rgba(41, 42, 52, 0.8);
	border: 2px solid rgb(69, 71, 87);
}

tooltip label {
  color: white;
}

#network,
#pulseaudio,
#battery,
#backlight,
#clock,
#memory,
#cpu,
#tray,
#user,
#bluetooth,
#custom-power,
#custom-media,
#custom-notifications,
#workspaces,
#power-profiles-daemon,
#custom-music {
	margin: 0;
	padding: 0 14px;
	transition: none;
	font-size: 12px;
	color: #e2e6f5;
	background-color: transparent;
	border: none;
}

#battery.charging,
#battery.plugged {
	color: #b9f6ca;
	background-color: transparent;
	border: none;
}

#battery.critical:not(.charging) {
	color: #f7a6a6;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes blink {
	to {
		color: #ffffff;
	}
}

#workspaces button {
	font-size: 14px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 0;
	padding-bottom: 0;
	margin-left: 4px;
	margin-right: 4px;
	color: #dfe3f1;
	background-color: transparent;
	border: none;
	font-weight: 400;
}

#clock {
	font-size: 14px;
}

#workspaces button:nth-child(n+6) {
	padding: 0;
	margin: 0;
	min-width: 0;
	border-width: 0;
	opacity: 0;
	font-size: 0;
}

#workspaces button.focused,
#workspaces button.active {
	font-weight: 700;
	color: #ffffff;
}
