input {
    mod-key "Super"

    keyboard {
        xkb {
            layout "eu"

        }
        numlock
    }

    touchpad {
        tap
        natural-scroll
    }

    focus-follows-mouse
}

cursor {
    xcursor-theme "WhiteSur-cursors"
    xcursor-size 30
}

output "eDP-1" {
    mode "1920x1200@359.979"
    scale 1.0
    transform "normal"
    position x=3200 y=0
}

output "DP-2" {
    mode "3840x2160@59.997"
    scale 1.2
    transform "270"
    position x=-1800 y=0
}

output "DP-1" {
    mode "3840x2160@59.997"
    scale 1.2
    transform "normal"
    position x=0 y=675
}


binds {
    MOD+SHIFT+ESCAPE                    { show-hotkey-overlay; }

    MOD+SPACE                           hotkey-overlay-title="Run" { spawn "rofi" "-show" "drun"; }
    MOD+RETURN                          hotkey-overlay-title="Open Terminal" { spawn "kitty"; }
    MOD+CTRL+RETURN                     hotkey-overlay-title="Open App Launcher: QS" { spawn "qs" "ipc" "call" "globalIPC" "toggleLauncher"; }
    MOD+B                               hotkey-overlay-title="Open Browser: firefox" { spawn "firefox"; }
    MOD+ALT+L                           hotkey-overlay-title="Lock Screen: sway1" { spawn "swaylock"; }
    
    MOD+E                               hotkey-overlay-title="File Manager: Nautilus" { spawn "nautilus"; }

    XF86AUDIORAISEVOLUME                allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"; }
    XF86AUDIOLOWERVOLUME                allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"; }
    XF86AUDIOMUTE                       allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AUDIOMICMUTE                    allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

    MOD+Q                               { close-window; }
    MOD+LEFT                            { focus-column-left; }
    MOD+H                               { focus-column-left; }
    MOD+RIGHT                           { focus-column-right; }
    MOD+L                               { focus-column-right; }
    MOD+UP                              { focus-window-up; }
    MOD+K                               { focus-window-up; }
    MOD+DOWN                            { focus-window-down; }
    MOD+J                               { focus-window-down; }

    MOD+SHIFT+LEFT                      { move-column-left; }
    MOD+SHIFT+H                         { move-column-left; }
    MOD+SHIFT+RIGHT                     { move-column-right; }
    MOD+SHIFT+L                         { move-column-right; }
    MOD+CTRL+UP                         { move-window-up; }
    MOD+CTRL+K                          { move-window-up; }
    MOD+CTRL+DOWN                       { move-window-down; }
    MOD+CTRL+J                          { move-window-down; }

    MOD+HOME                            { focus-column-first; }
    MOD+END                             { focus-column-last; }
    MOD+SHIFT+HOME                      { move-column-to-first; }
    MOD+SHIFT+END                       { move-column-to-last; }

    MOD+ALT+LEFT                        { focus-monitor-left; }
    MOD+ALT+RIGHT                       { focus-monitor-right; }
    MOD+ALT+UP                          { focus-monitor-up; }
    MOD+ALT+DOWN                        { focus-monitor-down; }

    MOD+SHIFT+CTRL+LEFT                 { move-column-to-monitor-left; }
    MOD+SHIFT+CTRL+RIGHT                { move-column-to-monitor-right; }
    MOD+SHIFT+CTRL+UP                   { move-column-to-monitor-up; }
    MOD+SHIFT+CTRL+DOWN                 { move-column-to-monitor-down; }

    MOD+WHEELSCROLLDOWN                 cooldown-ms=150 { focus-workspace-down; }
    MOD+WHEELSCROLLUP                   cooldown-ms=150 { focus-workspace-up; }
    MOD+CTRL+WHEELSCROLLDOWN            cooldown-ms=150 { move-column-to-workspace-down; }
    MOD+CTRL+WHEELSCROLLUP              cooldown-ms=150 { move-column-to-workspace-up; }

    MOD+WHEELSCROLLRIGHT                { focus-column-right; }
    MOD+WHEELSCROLLLEFT                 { focus-column-left; }
    MOD+CTRL+WHEELSCROLLRIGHT           { move-column-right; }
    MOD+CTRL+WHEELSCROLLLEFT            { move-column-left; }

    MOD+SHIFT+WHEELSCROLLDOWN           { focus-column-right; }
    MOD+SHIFT+WHEELSCROLLUP             { focus-column-left; }
    MOD+CTRL+SHIFT+WHEELSCROLLDOWN      { move-column-right; }
    MOD+CTRL+SHIFT+WHEELSCROLLUP        { move-column-left; }

    MOD+1                               { focus-workspace 1; }
    MOD+2                               { focus-workspace 2; }
    MOD+3                               { focus-workspace 3; }
    MOD+4                               { focus-workspace 4; }
    MOD+5                               { focus-workspace 5; }

    MOD+SHIFT+1                         { move-column-to-workspace 1; }
    MOD+SHIFT+2                         { move-column-to-workspace 2; }
    MOD+SHIFT+3                         { move-column-to-workspace 3; }
    MOD+SHIFT+4                         { move-column-to-workspace 4; }
    MOD+SHIFT+5                         { move-column-to-workspace 5; }

    MOD+TAB                             { focus-workspace-previous; }

    MOD+CTRL+F                          { expand-column-to-available-width; }
    MOD+C                               { center-column; }
    MOD+CTRL+C                          { center-visible-columns; }
    MOD+MINUS                           { set-column-width "-10%"; }
    MOD+EQUAL                           { set-column-width "+10%"; }
    MOD+SHIFT+MINUS                     { set-window-height "-10%"; }
    MOD+SHIFT+EQUAL                     { set-window-height "+10%"; }

    // ─── Modes ───
    MOD+T                               { toggle-window-floating; }
    MOD+F                               { fullscreen-window; }
    MOD+W                               { toggle-column-tabbed-display; }

    // ─── Screenshots ───
    CTRL+SHIFT+4                        { screenshot; }
    CTRL+SHIFT+3                        { screenshot-screen; }
    CTRL+SHIFT+2                        { screenshot-window; }

    // ─── Exit / Power ───
    CTRL+ALT+DELETE                     { quit; } // Also quits Niri
    MOD+SHIFT+P                         { power-off-monitors; } // Turn off screens (useful for OLED or privacy)
    MOD+ESCAPE                          repeat=false { toggle-overview; }
}


spawn-at-startup "/usr/lib/polkit-kde-authentication-agent-1"
spawn-at-startup "xwayland-satellite"
spawn-at-startup "qs"
spawn-at-startup "sunsetr"

prefer-no-csd
screenshot-path "/home/marcantoinewilly/Pictures/Screenshots/niri-%Y-%m-%d-%H-%M-%S.png"

layout {
    gaps 16
    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    focus-ring {
        width 3
        active-color "#ABB2C9"
        inactive-color "#3A3A3E"
    }

    shadow {
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }

    background-color "transparent"
    struts {}
}

animations {
    workspace-switch {
        spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
    }
    window-open {
        duration-ms 200
        curve "ease-out-quad"
    }
    window-close {
        duration-ms 200
        curve "ease-out-cubic"
    }
    horizontal-view-movement {
        spring damping-ratio=1.0 stiffness=900 epsilon=0.0001
    }
    window-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }
    window-resize {
        spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
    }
    config-notification-open-close {
        spring damping-ratio=0.6 stiffness=1200 epsilon=0.001
    }
    screenshot-ui-open {
        duration-ms 300
        curve "ease-out-quad"
    }
    overview-open-close {
        spring damping-ratio=1.0 stiffness=900 epsilon=0.0001
    }
}


// WIP
workspace "browser"
workspace "chat"

window-rule {
    match app-id="firefox"
    open-on-workspace "browser"
    open-maximized false
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    geometry-corner-radius 20
    clip-to-geometry true
}

layer-rule {
    match namespace="^quickshell-wallpaper$"
}

layer-rule {
    match namespace="^quickshell-overview$"
    place-within-backdrop true
}

layer-rule {
    match namespace="^swaybg$"
    place-within-backdrop true
}

environment {
    DISPLAY ":1"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    QT_QPA_PLATFORM "wayland"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
    XDG_SESSION_TYPE "wayland"
    XDG_CURRENT_DESKTOP "niri"
    TERMINAL "kitty"
}


hotkey-overlay {
    skip-at-startup
}
